<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script>
        async function performSearch() {
            const query = document.getElementById("searchInput").value;
            const response = await fetch("/search", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: "query=" + encodeURIComponent(query)
            });
            const results = await response.json();
            const resultsContainer = document.getElementById("results");
            resultsContainer.innerHTML = "";
            results.forEach(result => {
                const link = document.createElement("a");
                link.href = result[0];
                link.textContent = result[0];  // Chỉ hiển thị đường link
                link.target = "_blank";
                const div = document.createElement("div");
                div.appendChild(link);
                resultsContainer.appendChild(div);
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>ESI</h1>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Enter your search here">
            <button onclick="performSearch()">Search</button>
        </div>
        <div id="results"></div>
    </div>
</body>
</html>
